.focus 
  .focus--mask
    .focus--mask-inner Focus
    
p.credits Inspired by #[a(href="https://dribbble.com/shots/2076176-Focus") this great shot] by @eldinheric. Best viewed in Chrome - FF gets a little sticky :(